
#drop-area {
    border: 1px dashed #999;
    margin: 20px;
    padding: 100px 20px;
    z-index: 500;
    text-align: center;
    color: #999;
}

#drop-area.dragover {
    border-color: var(--qwik-dark-blue);
}

.or {
    text-align: center;
}

.upload-form {
    padding: 20px;
}

.upload-form > p, .upload-form>.or {
    text-align: center;
    color: #999;
    margin-bottom: 20px;
}

.upload-form > label {
    display: block;
    text-align: center;
    background-color: var(--qwik-light-blue);
    color: white;
    padding: 10px;
}

#drop-area.dragover>.upload-form>p {
    color: var(--qwik-dark-blue);
}

#drop-area.dragover>.upload-form>.or {
    color: white;
}

#drop-area.dragover > .upload-form > label {
    color: white;
    background-color: white;
}

.upload-form>label:hover {
    cursor: pointer;
}

.upload-form > input {
    display: none;
}

.lds-overlay {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

.lds-ring {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80px;
    height: 80px;
    margin-left: -40px;
    margin-top: -40px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid black;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: black transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
