
#drop-area {
    border: 1px dashed #999;
    margin: 20px;
    padding: 100px 20px;
    z-index: 500;
    text-align: center;
    color: #999;
}

#drop-area.dragover {
    border-color: var(--qwik-dark-blue);
}

.or {
    text-align: center;
}

.upload-form {
    padding: 20px;
}

.upload-form > p, .upload-form>.or {
    text-align: center;
    color: #999;
    margin-bottom: 20px;
}

.upload-form > label {
    display: block;
    text-align: center;
    background-color: var(--qwik-light-blue);
    color: white;
    padding: 10px;
}

#drop-area.dragover>.upload-form>p {
    color: var(--qwik-dark-blue);
}

#drop-area.dragover>.upload-form>.or {
    color: white;
}

#drop-area.dragover > .upload-form > label {
    color: white;
    background-color: white;
}

.upload-form>label:hover {
    cursor: pointer;
}

.upload-form > input {
    display: none;
}